*::before,
*::after,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

span {
    color: #42a9ed;
}



/* HEADER */

.header {
    width: 100%;
    background: url("../img/header.jpg") center center/ cover no-repeat;
    opacity: 90%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1000;

}


.header__inner {
    height: 99px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 0;
}

.header__logo {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.nav {
    display: flex;
    list-style-type: none;
}

.nav__link {
    margin-left: 60px;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;   
}

.nav__link:hover {
    color: #42a9ed;
}

.nav__link:first-child{
    margin-left: 0;
}


/* INTRO */

.intro {
    height: 849px;
    background: url("../img/intro.jpg")  center center/ cover no-repeat;
    padding: 245px 0 190px;
    
}

.intro__inner {
    width: 100%;
    max-width: 736px;
}

.intro__title {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #272733;
    font-size: 48px;
    line-height: 64px;
    text-transform: uppercase;
    margin-bottom: 75px;
}

.intro__subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #2a2b30;
    font-size: 20px;
    line-height: 34px;
}

.list {
    list-style-type: none;
    margin-bottom: 77px;
}


.list__item {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #2a2b30;
    font-size: 20px;
    line-height: 34px;
}

.list__item:before {
    content: "- "; 
    }

/* Button */

.intro__btn {
    display: flex;
}

.btn {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #2a2b30;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 25;
    width: 183px;
    height: 43px;
    text-align: center;
    padding: 15px 0;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #6f6d7b;
    margin-left: 30px;
}

.btn--blue {
    background-color: #fff;
}

.btn--blue:hover {
    background-color: #42a9ed;
    color: #fff;
    border: 1px solid #fff;
}

.btn:first-child {
    margin-left: 0;
}

